In [125]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [126]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [127]:
#value counts of players
count = purchase_data["SN"].value_counts()
count

Lisosia93        5
Iral74           4
Idastidru52      4
Aina42           3
Pheodaisun84     3
                ..
Aeral68          1
Mindilsa34       1
Aeralstical35    1
Eulae84          1
Saena89          1
Name: SN, Length: 576, dtype: int64

In [128]:
#Total players
total_players = len(purchase_data["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
purchase_data[["Item ID", "Item Name", "Price"]].tail()

     Item ID                              Item Name  Price
775       60                                   Wolf   3.54
776      164                       Exiled Doomblade   1.63
777       67  Celeste, Incarnation of the Corrupted   3.46
778       92                           Final Critic   4.19
779       50                                   Dawn   4.60

In [130]:
#average price
average = purchase_data["Price"].mean()
average

3.050987179487176

In [131]:
#total unique items
item_count = len(purchase_data["Item ID"].unique())

#total number of purchases
purchase_count = len(purchase_data["Purchase ID"].unique())

#sum of purchases
total_revenue = sum(purchase_data['Price'])

In [137]:
#Summary data frame
purchase_analyses = pd.DataFrame({"Number of unique items":[item_count],
                              "Average Price": average,
                              "Number of Purchases":[purchase_count],                           
                              "Total Revenue": total_revenue
                                 })
purchase_analyses

   Number of unique items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
count_gender = purchase_data["Gender"].value_counts()
gender_total = len(purchase_data["Gender"])

In [13]:
count_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
#Percentage/format 
gender_procentage = ((count_gender/gender_total)*100).map("{:.2f}%".format)
gender_procentage

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

In [15]:
#Summary data frame of gender demographics
summary_df = pd.DataFrame({"Total Count": count_gender,
                              "Procentage of players": gender_procentage})
summary_df

                       Total Count Procentage of players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results



* Display the summary data frame

In [16]:
summary_df['Total Count']

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Total Count, dtype: int64

In [138]:
#grouped by gender
gender_df = purchase_data.groupby('Gender')
#purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count = gender_df["Item ID"].count()
avg_purchase = gender_df["Price"].mean()
total_purchase_value = gender_df["Price"].sum()
avg_purchace_per_person = (total_purchase_value/(purchase_data["SN"].nunique()))
#summary data frame
gender_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Avg. purchase price": avg_purchase,
                                 "Total Purchase Value": total_purchase_value
                                 })
gender_summary_df

,Purchase Count,Avg. purchase price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# Establish the bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
categories = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize the existing players using the age bins
purchase_data["age_ranges"] = pd.cut(purchase_data['Age'], age_bins, labels=categories)

# Calculate the Numbers and Percentages by Age Group
purchase_data_totals = purchase_data["age_ranges"].value_counts()
purchase_data_percentage = purchase_data_totals/total_players
age_demographics = pd.DataFrame({"Total Count":purchase_data_totals,
             "Percentage of Players":purchase_data_percentage})

# Minor Data Wrangling
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:,.2%}".format)
# Display Age Demographics Table
age_demographics = age_demographics.sort_index()

In [21]:
age_demographics

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#bins and categories
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
categories = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#using pd.cut function
purchase_data["age_ranges"] = pd.cut(purchase_data['Age'], age_bins, labels=categories)
grouped_data = purchase_data.groupby('age_ranges')

purchase_count = grouped_data['Purchase ID'].count()

In [25]:
avg_price = grouped_data['Price'].mean()

In [26]:
total_purchase = grouped_data['Price'].sum()

In [27]:
players_grouped = grouped_data['SN'].nunique()

In [28]:
avg_per_person = (total_purchase/players_grouped)
avg_per_person

age_ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [33]:
#summary data frame
purchasing_analisys = pd.DataFrame({"Purchase Count":purchase_count, 
                                    "Average Purchase Price":avg_price.map("${:,.2F}".format),
                                    "Total Purchase value":total_purchase.map("${:,.2F}".format),
                                    "Avg Total Purchase per Person":avg_per_person.map("${:,.2F}".format)})
purchasing_analisys

,Purchase Count,Average Purchase Price,Total Purchase value,Avg Total Purchase per Person
age_ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [139]:
#basic calculations
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_avg = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
#summary data frame to hold the results
user_data = pd.DataFrame({"Purchase Count":user_count,
             "Average Purchase Price":user_avg,
             "Total Purchase Value":user_total})
#the total purchase value column sorted in descending order and cleaner formatting
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)
user_sorted["Total Purchase Value"] = user_sorted["Total Purchase Value"].map("${:,.2F}".format)
user_sorted["Average Purchase Price"] = user_sorted["Average Purchase Price"].map("${:,.2F}".format)

In [140]:
user_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [76]:
#Grouped by Item ID and Item Name
item_grouped = purchase_data.groupby(['Item ID',"Item Name"])

#calculations to obtain purchase count, average item price, and total purchase value
item_count = item_grouped['Purchase ID'].count()
item_price = item_grouped['Price'].mean()
total_purchase_value = item_grouped['Price'].sum()
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [82]:
#summary data frame
most_popular_items = pd.DataFrame({"Purchase Count":item_count, 
                                   "Item Price":item_price,
                                   "Total Purchase Value":total_purchase_value.map("${:,.2F}".format)})
most_popular_items_sorted = most_popular_items.sort_values(by="Purchase Count", ascending=False)

most_popular_items_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,$50.76
145,Fiery Glass Crusader,9,4.580000,$41.22
132,Persuasion,9,3.221111,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,$31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,$1.75
51,Endbringer,1,4.660000,$4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,$2.17
104,Gladiator's Glaive,1,1.930000,$1.93
91,Celeste,1,4.170000,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [143]:
most_profitable_items = pd.DataFrame({"Purchase Count":item_count, 
                                   "Item Price":item_price,
                                   "Total Purchase Value":total_purchase_value.map("${:,.2F}".format)})
most_profitable_items_sorted = most_popular_items.sort_values(by="Total Purchase Value")
most_profitable_items_sorted.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\multi.py:3587: RuntimeWarning: The values in the array are unorderable. Pass `sort=False` to suppress this warning.
  uniq_tuples = lib.fast_unique_multiple([self._values, other._values], sort=sort)

                             Purchase Count  Item Price Total Purchase Value
Item ID Item Name
42      The Decapitator                   1        1.75                $1.75
104     Gladiator's Glaive                1        1.93                $1.93
110     Suspension                        7        1.44               $10.08
151     Severance                         3        3.40               $10.20
106     Crying Steel Sickle               3        3.41               $10.23